<!DOCTYPE html>
<!--This Template was created by Christopher Hernandez-->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css"> 
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
</head>
<body>

	<div id="container">
	<!--Use the header are for the website name or logo-->
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo"></a>
	</header>
	
	<!--use the nav area to add hyper lynks to other pages within the website-->
	<nav>
		<a href="home.html">Home</a> &nbsp; &nbsp;
		<a href="about.html">About Us</a> &nbsp; &nbsp;
		<a href="class.html">Classes</a> &nbsp; &nbsp;
		<a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;
		<a href="contact.html">Contact us</a>
	</nav>
	
	<!--use the main are to add the main content of the page-->
	<main>
		
	</main>
	
	<!--use the footer area to add the footer content-->
	<footer>
		&copy; Copyright 2017. All Rights Reserved.<br/>
		<a href="mailto:Forwardfitness@club.net">forwardfitness@club.net</a>
	</footer>
	
	</div>
	
</body>
</html>